    <section class="hero is-fullheight is-light">

      <div>
        <section class="hero is-danger has-text-centered">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Login
              </h1>
            </div>
          </div>
        </section>
        <div class="tile is-parent box is-info has-text-centered">
          <div class="tile is-child notification is-info has-text-centered is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right has-text-centered">
                <input class="input hovered" type="email" placeholder="Email">
                <span class="icon is-small is-left has-text-centered">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right has-text-centered">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-text-centered">
                <input class="input hovered" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-success">
                  Login
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
